<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{%url 'listmedicine' %}">LIFE <i class="fa-solid fa-staff-snake text-danger"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'listmedicine' %}">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'addmedicine'%}">Add medicine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'downloadreport'%}">Report Medicine arrived today</a>
        </li>

      </ul>
      <form method="GET" class="d-flex m-auto" action="{% url 'search' %}">
        <input class="form-control me-2" id="search" name="search" type="search" placeholder="Search"
          aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <a href="{% url 'logout' %}" class="btn btn-danger">LOGOUT</a>
    </div>
  </div>
</nav>