{% extends "mainpages/base.html" %}
{% block content %}
<section class="vh-100  bg-dark bg-gradient">
  <div class="container py-5 h-100 ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-light" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-1 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">LOGIN</h2>
             
              <form action="" method="POST">
                  {% if messages %}
                  {%for message in messages%}
                  <div class="alert alert-danger">
                     {{message}}
                  </div>
                  {%endfor%}
                  {% endif %}
                  {%csrf_token%}
                  <div class="form-group">
                      <label for="name">User Name</label>
                      {{logform.username}}
                  </div>
                 
                  <div class="form-group">
                      <label for="password">Password</label>
                      {{logform.password}}
                  </div>
                  
                  <div class="form-group my-3" >
                      <button type="submit" class="btn btn-outline-success w-50">LOGIN</button>
                      
                  </div>
              </form>
             <p>Already a member <a href="{%url 'signup' %}" class="text-decoration-none text-info ">REGISTER</a></p>
             
          </div>
          
      </div>
  </div>

</div>
    </div>
  </div>
</section>
{% endblock %}