{% extends "mainpages/base.html" %}
{%load crispy_forms_tags %} 
{%block content %}
<div class="container">
    <div class="row">
        <div class="col-5 mx-auto bg-dark mt-5 p-5 text-light" style="border-radius: 2rem;">
            <form action="" method="POST">
                <h1 class="text-center text-uppercase ">Update medicine <i class="fa-solid fa-pills fa-2xs"></i></h1>
                {%csrf_token%}
                {{updateform | crispy}}
                <button class="btn btn-warning mb-3 w-100">Update Medicine</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}